@font-face {
  font-family: 'RemoraCorp';
  src: url('./RemoraCorp-W1Medium.otf') format('opentype');
}

  html, body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
  }

body {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  background-image: url('/public/bg4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family:Arial
}

.header{
  display: grid;
  width: 95%;
  margin:auto;
  grid-template-columns: 1fr 3fr;
}

.header img{
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 4vw;
  color: #fff;
  top: 0;
  width: 50vw;
  margin-left: auto;
}

.menu-toggle {
  display: none;
  margin-left: auto;
  margin-right: 1vh;
  background: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color:#fff;
}

.main {
  display:grid;
  width: 90%;
  margin:auto;
  grid-template-columns: 1fr 1fr;
  margin: 0vw 1.5vw;
}

.button-container{
  width:90%;
  margin-left: 2.5%;
  margin-top:15%;
}

.menu a {
  color: #fff;
  padding: 1vh 0;
  text-decoration: none;
}

.menu a:hover {
  color: gray;
  border: none;
  border-bottom: 1px solid gray; 
}

hr {
  border: none;
  height: 0.5px;
  background: rgb(255, 255, 255, 0.2);
  margin:0px;
}

.advantagesBlock{
  display: grid;
  margin-left: 40%;
  margin-top: 10%;
  width: 60%;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1vw;
  grid-column-gap: 1vw;


}

.advantagesItem0, .advantagesItem1, .advantagesItem2, .advantagesItem3{
  font-family: 'RemoraCorp', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  /* margin: 5%; */
  color:#fff;
}


.advantagesItem0 {
  background: linear-gradient(
    to top left,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.advantagesItem1 {
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.advantagesItem2 {
  background: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.advantagesItem3 {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}

.advantagesItem0:hover{
  background: linear-gradient(
      to top left,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  border: none;
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-image: linear-gradient(to top left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%) 1;
}

.advantagesItem1:hover{
  background: linear-gradient(
      to top right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  border: none;
  border-left: solid 2px;
  border-bottom: solid 2px;
  border-image: linear-gradient(to top right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%) 1;
}

.advantagesItem2:hover{
  background: linear-gradient(
      to bottom left,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  border: none;
  border-right: solid 2px;
  border-top: solid 2px;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%) 1;
}

.advantagesItem3:hover{
  background: linear-gradient(
      to bottom right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  border: none;
  border-left: solid 2px;
  border-top: solid 2px;
  border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 50%) 1;
}

.advantagesText{
  color: rgb(255, 255, 255, 0.4);
  margin: 5%;
  font-size: 100%;
}

.advantagesValue{
  color: rgb(255, 255, 255, 0.8);
  font-size: 300%;
  font-weight:bold;
}

.button {
  margin-top:15%;
  /* margin-right: 40%; */
  width: 226.25px;
  height: 43.75px;
  position: relative;
  display: inline-block;
}

.button img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  color: #fff;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  z-index: 10;
}

.overlay-text:hover {
  color: rgb(255, 255, 255, 0.5);
}

.text {
  font-size:2vw;
  background: linear-gradient(to left, rgba(255, 66, 8, 1), white);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.big_text{
  font-weight: bold;
  font-size: 4.7vw;
}

@media(max-width: 1000px) {
  body{
    background-image: url('/public/bg_mobile3.png');
    padding-bottom: 0;
    padding-left: 0;

  }
  .menu {
    flex-direction: column;
    margin-left: 50%;
    width: 50%;
    align-items: stretch;
    display: none;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5); 
  }
  .menu.open {
    display: flex;
  }
  .menu-toggle {
    display: block;
    z-index: 101;
  }
  .main{
    grid-template-columns: 1fr;
  }
  .button-container{
    margin-top:20%;
    margin-left:5vw;
  }
  .header img{
    margin-left:2.5vw;
    width: 50vw;
  }
  .advantagesBlock{
    margin-top: 30%;
    margin-left: 2.5vw;
    width: 90%;
    margin-left: 2.5vw;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
  }
  .text {
    font-size:5vw;
    margin-bottom:10%;
  }
  .big_text{
    font-size: 10vw;
  }
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

}